.hov{
    transition: transform 0.5s;
}

.hov:hover{
    transform: scale(1.1);
}
.pink{
    transition: transform 0.5s;
    background-color: #d63384;
}
.pink:hover{
    transform: scale(1.1);
    background-color: #ad2c6d;
}